/* Main container for the contact section */
.contact-container {
  display: flex;
  justify-content: space-between;  /* Ensures form and contact-info are aligned left and right */
  padding: 50px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  width: 80%;
}

/* Contact Form styling (left side) */
.contact-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.contact-name h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-inputs:focus {
  border-color: #007BFF;
}

textarea.contact-inputs {
  height: 150px;
  resize: none;
}

button {
  width: 30%;
  padding: 10px 20px ;
  background-color: #0c0d0d;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;  
  
  transition: background-color 0.3s ease;
  
    
  }
  


button:hover {
  background-color: #3b6060;
}

button:active {
  background-color: #a3a7ac;
}

/* Contact Context styling (right side) */
.contact-context {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
  width: 35%;
}

.contact-context h2,
.contact-context h3 {
  color: #333;
}

.contact-context ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-context li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.contact-context strong {
  color: #007BFF;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 30px;
  }

  .contact-name, .contact-context {
    width: 100%;
  }

  .contact-right {
    display: none; /* Right-side content is hidden on smaller screens */
  }
}
